@inject SiteSettings Settings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <gt:header title="@ViewData["Title"]">@RenderSection("header", false)</gt:header>
</head>
<body class="@ViewBag.ClassName">
    @RenderBody()
    <gt:footer alert="true">@RenderSection("footer", false)</gt:footer>
</body>
</html>
