@{
    Layout = "_Global";
    var settings = await SettingsManager.GetSettingsAsync();
}
@inject ISiteSettingsService SettingsManager

<main>
    <div class="main">
        <div class="header" .visible="@(ViewBag.HideHeader != true)">
            <div class="header-container">
                <h1 class="title">
                    @settings.SiteName
                </h1>
            </div>
        </div>
        <div class="main-container">
            @RenderBody()
        </div>
    </div>
    <footer>
        @Html.Raw(settings.ReplacedCopyright)
    </footer>
</main>

@section header{
    <link rel="stylesheet" href="~/css/site.min.css" />
    @RenderSection("header", false)
}

@section footer{
    <script src="~/js/site.min.js"></script>
    @RenderSection("footer", false)
}