@using Gentings.AspNetCore
@inject SiteSettings SiteSettings
@inject SecuritySettings SecuritySettings
@{
    ViewData.AddLibraries(ImportLibrary.GtCore);
    Layout = "_Global";
}

<div class="signin">
    <div class="login-title">
        <img class="mb-1" src="@(SiteSettings.LogoUrl??"/images/logo.png")" alt="@SiteSettings.SiteName" width="72" height="72">
        <h1 class="h3 mb-3 text-primary">@SiteSettings.SiteName</h1>
    </div>
    <div class="signin-panel">
        @RenderBody()
    </div>
</div>
<div class="copyright">@Html.Raw(SiteSettings.ReplacedCopyright)</div>

@section header{
    <link href="~/security/css/signin.css" rel="stylesheet" />
    @if (!string.IsNullOrEmpty(SecuritySettings.LoginBg))
    {
        <style type="text/css">
            body{ background-image: url('@SecuritySettings.LoginBg');}
        </style>
    }
    @RenderSection("header", false)
}

@section footer
{
    @RenderSection("footer", false)
}
